[defaults]
inventory = inventory.yml
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
collections_path = ./.ansible/collections

[ssh_connection]
pipelining = True
